<html>
  <head>
    <script src="/static/js/processing.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/socket.io.js"></script>
    <script type="text/javascript">
      var canvas;
      var ctx;
      var drawing=false;
      var paths = [];

      var pmouseX=null;
      var pmouseY=null;

      var currpath=null;
      var background=null;

      var xtrans=0;
      var ytrans=0;
      var xscale=1;
      var yscale=1;

      function Path(ctx){
        this.ctx = ctx;
        this.pts = [];
        this.draw = function() {
          if( this.pts.length < 2 )
            return;

          this.ctx.beginPath();
          this.ctx.moveTo( this.pts[0][0], this.pts[0][1] );
          for(var i=1; i<this.pts.length; i++) {
            this.ctx.lineTo( this.pts[i][0], this.pts[i][1] );
          }
          this.ctx.stroke();
        }
        this.drawLast = function() {
          if( this.pts.length < 2 )
            return;

          this.ctx.beginPath();
          this.ctx.moveTo( this.pts[this.pts.length-2][0], this.pts[this.pts.length-2][1] );
          this.ctx.lineTo( this.pts[this.pts.length-1][0], this.pts[this.pts.length-1][1] );
          this.ctx.stroke();
        }

      }

      $(document).ready( function() {

        function apply_transform(){
          ctx.setTransform(1,0,0,1,0,0);
          ctx.translate( xtrans, ytrans );
        }

        function handle(delta) {

          xscale = xscale*Math.pow(1.1,delta);
          yscale = yscale*Math.pow(1.1,delta);

          console.log( xscale );

          apply_transform();

          //ctx.scale( Math.pow(1.1,delta), Math.pow(1.1,delta) );
          //redraw();
        }

        function wheel(event){
          var delta = 0;
          if (!event) /* For IE. */
            event = window.event;
          if (event.wheelDelta) { /* IE/Opera. */
            delta = event.wheelDelta/120;
          } else if (event.detail) { /** Mozilla case. */
          /** In Mozilla, sign of delta is different than in IE.
            * Also, delta is multiple of 3.
            */
            delta = -event.detail/3;
          }
          /** If delta is nonzero, handle it.
            * Basically, delta is now positive if wheel was scrolled up,
            * and negative, if wheel was scrolled down.
            */
          if (delta)
            handle(delta);
          /** Prevent default actions caused by mouse wheel.
            * That might be ugly, but we handle scrolls somehow
            * anyway, so don't bother here..
            */
          if (event.preventDefault)
            event.preventDefault();
          event.returnValue = false;
        }

        canvas = $("#canvas")[0]
        ctx = canvas.getContext("2d");

        //xtrans = canvas.width/2;
        //ytrans = canvas.height/2;
        //ctx.translate(xtrans,ytrans);

        canvas.onmousedown = function(ev) {
          if(ev.button==0) {
            ctx.lineWidth=5;

            currpath = new Path(ctx);
            background = ctx.getImageData(0,0,canvas.width,canvas.height);
          }
        }

        function draw_new_path(){
            console.log(currpath)
            ctx.putImageData(background,0,0);
            ctx.lineWidth=1;
            currpath.draw();

            paths.push( currpath );
            currpath = null;
        }

        canvas.onmouseup = function(ev) {
          if(currpath){
            draw_new_path();
          } else if( ev.button==2 ) {
          }
        }

        canvas.oncontextmenu = function(ev) {
          return false;
        }

        function screenX(x) {
          return x-xtrans;
        }

        function screenY(y) {
          return y-ytrans;
        }

        function redraw() {
            ctx.clearRect( screenX(0),screenY(0),canvas.width,canvas.height );

            for(var i=0; i<paths.length; i++){
              paths[i].draw();
            }
        }

        canvas.onmousemove = function(ev){
          if(currpath) {
            currpath.pts.push( [screenX(ev.offsetX), screenY(ev.offsetY)] );
            currpath.drawLast();
          } else if( ev.button==2 ) {
            xtrans += (ev.offsetX-pmouseX);
            ytrans += (ev.offsetY-pmouseY);

            apply_transform();
            redraw();
          }

          pmouseX=ev.offsetX;
          pmouseY=ev.offsetY;
        }

        canvas.onmouseout = function(ev) {
          if(currpath) {
            draw_new_path();
          }
        }

        if (window.addEventListener)
          /** DOMMouseScroll is for mozilla. */
          window.addEventListener('DOMMouseScroll', wheel, false);
        /** IE/Opera. */
        window.onmousewheel = document.onmousewheel = wheel;
      });
    </script>
  </head>
  <body>
    <canvas id="canvas" width="1000" height="1000"></canvas>
  </body>
</html>
