<html>
<head>
  <script src="/static/js/processing.js"></script>
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/socket.io.js"></script>

  <script type="text/javascript">

  function Map(canvas,ll,bb,rr,tt){
    this.ll = ll;
    this.bb = bb;
    this.rr = rr;
    this.tt = tt;

    this.pp = new Processing(canvas, function(pp) {
      pp.setup = function() {
        pp.size( 1200,600 );
        pp.noFill();
        pp.strokeWeight(1);
        pp.background( 250 );
      }
    });
                                                                                                          
    this.pp.scale( this.pp.width/(rr-ll), -this.pp.height/(tt-bb) );
    this.pp.pushMatrix();
    this.pp.translate( -ll, -tt );

  }

  var ll, bb, rr, tt;
  var map;

  $(document).ready(function(){

  var socket = io.connect('http://operator.media.mit.edu:1337');

  var minlon=-71.157, minlat=42.292, maxlon=-70.978,maxlat=42.425;

  var infl=10000;

  ll=minlon*infl;
  bb=minlat*infl;
  rr=maxlon*infl;
  tt=maxlat*infl;

  function testPattern(pp,ll,bb,rr,tt) {

      var xcent = (ll+rr)/2;
      var ycent = (tt+bb)/2;

      pp.rect( ll, bb, (rr-ll), (tt-bb) );
      pp.line(xcent,ycent,rr,tt);
      pp.line(ll,ycent,rr,ycent);
      pp.line(xcent,bb,xcent,tt);
          
      pp.line(-10,0,10,0);
      pp.line(0,-10,0,10);
  }


  var canvas = document.getElementById("canvas1");

  map = new Map( canvas, ll, bb, rr, tt );

  socket.emit( "map", [ll/infl,bb/infl,rr/infl,tt/infl] );

  var newshape=false;
  socket.on('newshape', function(data){
    //testPattern( p, ll, bb, rr, tt );

    console.log("newshape "+data);
    newshape=true;
  });
  var lastpoint = null;
  socket.on('pt', function(data) {
    if(newshape){
      newshape = false;
    } else {
      if( lastpoint ) {
        map.pp.line( lastpoint[0], lastpoint[1], data[0], data[1] );
      }
    }
    lastpoint = data;
  });

  });
  
  </script>

</head>
<body>
  <p><canvas id="canvas1" width="400" height="400"></canvas></p>
  <div style="height:0px;width:0px;overflow:hidden;"></div>
</div>


