<html>
<head>
  <script src="/static/js/processing.js"></script>
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/socket.io.js"></script>

  <script type="text/javascript">

  function Map(canvas,ll,bb,rr,tt){

    this.pp = new Processing(canvas, function(pp) {
      pp.setup = function() {
        pp.size( 1200,600 );
        pp.noFill();
        pp.strokeWeight(0.5);
        pp.background( 250 );
      }
    });
                                                                                                          
    this.infl = this.pp.width/(rr-ll);

    this.ll = ll*this.infl;
    this.bb = bb*this.infl;
    this.rr = rr*this.infl;
    this.tt = tt*this.infl;

    this.pp.scale( this.pp.width/(this.rr-this.ll), -this.pp.height/(this.tt-this.bb) );
    this.pp.pushMatrix();
    this.pp.translate( -this.ll, -this.tt );

    this.line = function(x1,y1,x2,y2) {
      this.pp.line( x1*this.infl,y1*this.infl,x2*this.infl,y2*this.infl );
    }

    this.startLine = function(){
      this.pp.beginShape();
    }

    this.addPoint = function(x,y){
      this.pp.vertex(x*this.infl, y*this.infl);
    }

    this.endLine = function() {
      this.pp.endShape();
    }

  }

  var map;
  var minlon=-71.157, minlat=42.292, maxlon=-70.978,maxlat=42.425;

  $(document).ready(function(){

  var socket = io.connect('http://operator.media.mit.edu:1337');
  var canvas = document.getElementById("canvas1");
  map = new Map( canvas, minlon, minlat, maxlon, maxlat );

  socket.emit( "map", [minlon,minlat,maxlon,maxlat] );

  var newshape=false;
  socket.on('newshape', function(data){
    console.log("newshape "+data);
    newshape=true;
  });

  var lastpoint = null;
  socket.on('pt', function(data) {
    if(newshape){
      newshape = false;
      map.endLine();
      map.startLine();
    }
    //} else {
    //  if( lastpoint ) {
    //    map.addPoint( data[0]/10000, 
    //    map.line( lastpoint[0]/10000, lastpoint[1]/10000, data[0]/10000, data[1]/10000 );
    //  }
   // }
    map.addPoint( data[0]/10000, data[1]/10000 );
    lastpoint = data;
  });

  });
  
  </script>

</head>
<body>
  <p><canvas id="canvas1" width="400" height="400"></canvas></p>
  <div style="height:0px;width:0px;overflow:hidden;"></div>
</div>


