<html>
<head>
  <script src="/static/js/processing.js"></script>
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/socket.io.js"></script>

  <script type="text/javascript">

  $(document).ready(function(){

  var socket = io.connect('http://operator.media.mit.edu:1337');

  function sketchProc(processing) {

    processing.setup = function() {
      processing.size( 1200,600 );
    }

    processing.draw = function() {
    };

    processing.mouseDragged = function() {
      socket.emit( "line", [processing.pmouseX, processing.pmouseY, processing.mouseX, processing.mouseY] );
    }
                                                                                                          
  }

  var canvas = document.getElementById("canvas1");

  var p = new Processing(canvas, sketchProc);
  p.background( 250 );

  socket.emit( "size", [p.width, p.height] );

  socket.on('line', function(data){
    p.line(data[0],data[1],data[2],data[3]);
  });

  });
  
  </script>

</head>
<body>
  <p><canvas id="canvas1" width="400" height="400"></canvas></p>
  <div style="height:0px;width:0px;overflow:hidden;"></div>
</div>


