<html>
  <body>
    <h1>trip id:{{trip.trip_id}}</h1>
    <p>
    route <a href="{% url route trip.route_id %}">{{trip.route_id}}</a> "{{trip.trip_headsign}}"
    </p>
    <p>operates on {{trip.service_period}}</br>
    does not operate on: 
    {% for holiday in holdays %}
    {{holiday}}
    {% endfor %}
    </br>
    also operates on:
    {% for holiday in also %}
    {{ holiday.date_date }}
    {% endfor %}
    </p>
    <p>
    <a href="{% url viz %}?trip_id={{trip.trip_id}}">delay visualization</a>
    </p>
    <p>
    <a href="{% url gpsviz %}?trip_id={{trip.trip_id}}">gps-based delay visualization</a>
    </p>
    <h3>stops</h3>
    <table>
      <tr>
        <th>stop name</th>
        <th>scheduled departure</th>
      </tr>
      {% for stoptime in stoptimes %}
      <tr>
      <td><a href="{% url stop stoptime.stop.stop_id%}">{{stoptime.stop.stop_name}}</a></td>
      <td>{{stoptime.departure_time_str}}</td>
      </tr>
      {% endfor %}
    </table>
    <h3>real time updates</h3>
    <table>
      <tr>
        <th>data time</th>
        <th>departure delay</th>
      </tr>
      {% for stu in stus%}
      <tr>
      <td>{{stu.data_time}}</td>
      <td>{{stu.arrival_delay}}</td>
      <tr>
      {% endfor %}
    </table>
    <h3>vehicle positions</h3>
    <table>
      <tr>
        <th>data time</th>
        <th>position</th>
        <th>percent along route (precached</th>
        <th>percent along route</th>
        <th>scheduled time at this point</th>
        <th>schedule deviation</th>
      </tr>
      {% for vp in vps %}
      <tr>
      <td>{{vp.data_time}}</td>
      <td><a href="http://maps.google.com/maps?q={{vp.latitude}},{{vp.longitude}}">({{vp.latitude}},{{vp.longitude}})</a>
      <td>{{vp.percent_along_trip}}</td>
      <td>{{vp.percent_along_route}}</td>
      <td>{{vp.scheduled_time_str}}</td>
      <td>{{vp.sched_deviation}}</td>
      </td>
      <tr>
      {% endfor %}
    </table>
  </body>
</html>
