<html>
<head>
  <script src="/js/processing.js"></script>
  <script src="/js/jquery.js"></script>
  </head>
  <h2>schedule deviation</h2>
  <p><canvas id="canvas1" width="400" height="400"></canvas></p>
  <span id="clickme">click me</span>
  <script id="script1" type="text/javascript">

  $(document).ready(function(){

  // Simple way to attach js code to the canvas is by using a function
  function sketchProc(processing) {

    processing.setup = function() {
      processing.size( 1000,400 );
    }

    // Override draw function, by default it will be called 60 times per second
    processing.draw = function() {
    };
                                                                                                          
  }

  var canvas = document.getElementById("canvas1");
  // attaching the sketchProc function to the canvas
  var p = new Processing(canvas, sketchProc);
  p.translate( 0, p.height/2 )
  p.scale( 0.3, 0 );
  p.background( 224 );

  $("#clickme").click( function() {

    $.getJSON('/mysite.fcgi/deviationrecords?trip_id=16274695', function(data) {
        $.each( data, function( key, val ) {

          ptlist = val[1];
          for(var i=0; i< ptlist.length-1; i++) {
            pt1 = ptlist[i];
            pt2 = ptlist[i+1];
            console.log( pt1.time_since_trip_start+","+pt1.arrival_delay +" "+ pt2.time_since_trip_start +","+pt2.arrival_delay );
            console.log( pt1.depart_delay );
            p.line( pt1.time_since_trip_start, pt1.arrival_delay, pt2.time_since_trip_start, pt2.arrival_delay );
          }
        } );
        console.log( data );
    } )
  } )

  // p.exit(); to detach it
  
  });
  
  </script>

<div style="height:0px;width:0px;overflow:hidden;"></div>


